<foreignobject x="10" y="78" width="170" height="70">
  <!-- why are you placed globally!!!!!!!!!!!!!! -->
  <style>
  .programmingObject * {
    color: color-mix(in oklab, hsl(213.75 calc(1*8.081%) 61.176% /1) 100%, #000 0%);
  }
  .programmingObject p {
    font-size:20px;
    font-family: "gg sans","noto sans","helvetica neue",helvetica,arial,sans-serif;
    line-height:20px;
    margin: -1.75rem 0 0 1.65em
  }
  body.programmingObject {
    background-color: color-mix(in oklab, hsl(220 calc(1*6.522%) 18.039% /1) 100%, #000 0%)
  }
  body {
    margin:auto;
    padding:10px
  }
  </style>

  <!-- yoinked from discord itself -->
  <body class="programmingObject" xmlns="http://www.w3.org/1999/xhtml">
    <svg aria-hidden="true" role="img" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewbox="0 0 24 24">
        <path fill="currentcolor" fill-rule="evenodd" d="m10.99 3.16a1 1 0 1 0 9 2.84l8.15 8h4a1 1 0 0 0 0 2h3.82l-.67 4h3a1 1 0 1 0 0 2h3.82l-.8 4.84a1 1 0 0 0 1.97.32l8.85 16h4.97l-.8 4.84a1 1 0 0 0 1.97.32l.86-5.16h20a1 1 0 1 0 0-2h-3.82l.67-4h21a1 1 0 1 0 0-2h-3.82l.8-4.84a1 1 0 1 0-1.97-.32l15.15 8h-4.97l.8-4.84zm14.15 14l.67-4h9.85l-.67 4h4.97z" clip-rule="evenodd">
        </path>
    </svg>
    <p>programming</p>
  </body>
</foreignobject>




